html {
  height: 100%;
}

body {
  /*margin: 0 0 0 20px;*/
  height: 100%;
}

h1 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #F38630;
}

button {
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

a {
  color: #69D2E7;
  text-decoration: none;
}

input {
  display: inline-block;
  width: 100px;
  margin: 4px;
}

button:focus {
  outline: 0px;
}

.clickable-list-item {
  border-color: #69D2E7;
}

.clickable-list-item:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.alert {
  color: red;
}

.white-text {
  color: #fff;
}

.gray-text {
  color: rgba(0,0,0,.8);
}

.title {
  padding: 4px;
  font-size: 22px;
  font-weight: bold:
}

.label {
  display: inline-block;
  width: 80px;
  margin: 4px;
}

#contactSelect {
  height: 32px;
  width: 100%;
}

#dropdown {
  position: fixed;
  background-color: rgba(255, 255, 255, .9);
}

#signup, #signin {
  width: 500px;
  padding: 10px;
  margin: 10px;

  margin: 10px auto;
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}

.article {
  width: 90%;
  margin: 0 auto;
}

.selectedContact {
  background-color: #69D2E7;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.searchInput {
  margin: 0 0 1em 0;
}

.icon {
  width: 60px;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
}

.heading {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
}

.headingBar {
  width: 100%;
  background-color: #A7DBD8;
  color: #fff;
  height: 60px;
}

.tall {
  margin: 0;
  height: 100%;
}

#index {
  text-align: center;
  background: url('/assets/calendar.jpeg') bottom;
  height: 100%;
  background-size: cover;

}

.message {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #E0E4CC;
  padding: 0 10px;
  position: relative;
}

.cancel-message {
  position: absolute;
  cursor: pointer;
  top: 1.3em;
  right: 1em;
}

tr td.remove-contact {
  cursor: pointer;
  color: white;
  text-align: center;
}

circle.remove-text {
  color: white;
  text-align: center;
  padding: 2px 9px;
  background: #69D2E7;
  border-radius: 20px;
  font-weight: bold;
}

circle.remove-text:hover {
  background: red;
}

.cancel-message:hover {
  color: red;
}

.menu {
  padding: 10px;
}

.pure-button-primary {
  background-color: #69D2E7 !important;
}

.pure-menu-item {
  padding: 5px !important;
}

.hello {
  margin-top: 0px;
  padding: 40px 0 0 0;
}

#greeting {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  padding-bottom: 40px;
}

/* AutoComplete styles for Emoji One */
 
.dropdown-menu {
  list-style: none;
  padding: .3em 0 0;
  margin: 0;
  border: 1px solid #6E6E6E;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  font-size: inherit;
  letter-spacing: .025em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu li {
  letter-spacing: 0;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border:none;
}
.dropdown-menu li:before {
  display: none;
}
.dropdown-menu .textcomplete-footer {
  margin-top: .3em;
  background: #e6e6e6;
}
.dropdown-menu .textcomplete-footer a {
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 2.1818em;
  padding-left: 1.8181em;
  font-size: .84em;
}
.dropdown-menu .textcomplete-footer .arrow {
  margin-left: .8em;
  font-size: 1.3em;
}
.dropdown-menu li .emojione {
  vertical-align: middle;
  font-size: 1.23em;
  width: 1em;
  height: 1em;
  top: -1px;
  margin: 0 .3em 0 0;
}
.dropdown-menu li a {
  display: block;
  height: 100%;
  line-height: 1.8em;
  padding: 0 1.54em 0 .615em;
  color: #4f4f4f;
}
.dropdown-menu .active,
.dropdown-menu li:hover {
  background: #6E6E6E;
  color: white;
}
.dropdown-menu .active a,
.dropdown-menu li:hover a {
  color: inherit;
}